* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho-claro: #e5555e;
    --vermelho-escuro: #b2121d;
    --cinza-claro: #eeeeee;
    --cinza-escuro: #3e3e3e;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    background-color: var(--cinza-claro);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

header h1 {
    font-size: 25px;
    color: var(--cinza-escuro);
}

.voltar {
    position: absolute;
    top: 1%;
    left: 1%;
}

.fa-shopping-cart {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 25px auto;
    padding: 20px;
    background-color: var(--cinza-claro);
    border: 1px solid var(--cinza-escuro);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card {
    background-color: var(--cinza-claro);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn:not(.remover) {
    background-color: white;
    color: var(--vermelho-claro);
    border: 2px solid var(--vermelho-claro);
    border-radius: 25px;
    padding: 10px 30px;
}

.btn:not(.remover):hover {
    background-color: var(--vermelho-claro);
    border-color: var(--vermelho-claro);
    color: white;
}

.remover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: #111111;
    color: var(--vermelho-escuro);
    border: 2px solid var(--vermelho-escuro);
    border-radius: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.remover:hover {
    background-color: var(--vermelho-escuro);
    border-color: var(--vermelho-escuro);
    color: white;
}

h2 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #111111;
    color: #fff;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

li span .nome-filme {
    flex: 1;
    text-align: left;
}

li .botoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    width: 25px;
    height: auto;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .card img {
        align-self: center;
    }
}

@media (max-width: 500px) {
    .voltar {
        position: relative;
    }
}