* {
    margin: 20px;
}

:root {
    --vermelho-claro: #e5555e;
    --cinza-claro: #eeeeee;
}

.title h1::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 50px;
    background-color: var(--vermelho-claro);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.link-card {
    width: 400px;
    height: 500px;
    margin: 100px;
    background-color: var(--cinza-claro);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link-card img {
    padding-right: 35px;
}

.btn {
    background-color: white;
    color: var(--vermelho-claro);
    border: 2px solid var(--vermelho-claro);
    border-radius: 25px;
    padding: 10px 30px;
}

.btn:hover {
    background-color: var(--vermelho-claro);
    color: white;
    border-color: var(--vermelho-claro);
}